<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>explosion25.png</key>
		<dict>
			<key>x</key>
			<integer>397</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>explosion24.png</key>
		<dict>
			<key>x</key>
			<integer>34</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>explosion23.png</key>
		<dict>
			<key>x</key>
			<integer>67</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>explosion22.png</key>
		<dict>
			<key>x</key>
			<integer>100</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>explosion21.png</key>
		<dict>
			<key>x</key>
			<integer>133</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>explosion20.png</key>
		<dict>
			<key>x</key>
			<integer>166</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>explosion19.png</key>
		<dict>
			<key>x</key>
			<integer>199</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>explosion18.png</key>
		<dict>
			<key>x</key>
			<integer>232</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>explosion17.png</key>
		<dict>
			<key>x</key>
			<integer>265</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>explosion16.png</key>
		<dict>
			<key>x</key>
			<integer>298</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>explosion15.png</key>
		<dict>
			<key>x</key>
			<integer>331</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>explosion14.png</key>
		<dict>
			<key>x</key>
			<integer>364</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>explosion13.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>explosion12.png</key>
		<dict>
			<key>x</key>
			<integer>430</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>explosion11.png</key>
		<dict>
			<key>x</key>
			<integer>463</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>explosion10.png</key>
		<dict>
			<key>x</key>
			<integer>496</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>explosion9.png</key>
		<dict>
			<key>x</key>
			<integer>529</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>explosion8.png</key>
		<dict>
			<key>x</key>
			<integer>562</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>explosion7.png</key>
		<dict>
			<key>x</key>
			<integer>595</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>explosion6.png</key>
		<dict>
			<key>x</key>
			<integer>628</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>explosion5.png</key>
		<dict>
			<key>x</key>
			<integer>661</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>explosion4.png</key>
		<dict>
			<key>x</key>
			<integer>694</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>explosion3.png</key>
		<dict>
			<key>x</key>
			<integer>727</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>explosion2.png</key>
		<dict>
			<key>x</key>
			<integer>760</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>explosion1.png</key>
		<dict>
			<key>x</key>
			<integer>793</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
	</dict>
</dict>
</plist>